<div class="checkout-screen">
  <div class="checkout-container">
    <div class="app-header">
      <div class="back-page">
        <span class="material-symbols-outlined">
          arrow_back
        </span>
      </div>
      <div class="app-page-title">
        My Checkout
      </div>
    </div> 
    <div class="checkout-body"> 
      <div class="checkout-summery">
        <div class="checkout-summery-item">
          <span>Subtotal</span>
          <span>$100</span>
        </div>
        <div class="checkout-summery-item">
          <span>Tax</span>
          <span>$10</span>
        </div>
        <div class="checkout-summery-item">
          <strong>Grand Total</strong>
          <strong>$100</strong>
        </div>
      </div>
      <div class="payment-method-block">
        <h4>Payment Method</h4>
        <ul>
          <li (click)="selectPaymentMethod('cash')">
            <strong>CASH
              <span class="material-symbols-outlined">
                chevron_right
              </span>
            </strong>
          </li>
          <li (click)="selectPaymentMethod('momo')">
            <strong>MOMO 
              <span class="material-symbols-outlined">
                chevron_right
              </span>
            </strong>
            <input *ngIf="selectedPaymentMethod === 'momo'" type="text" class="form-field" placeholder="Enter MOMO details">
          </li>
          <li (click)="selectPaymentMethod('balaanz')">
            <strong>BALAANZ ACCOUNT
              <span class="material-symbols-outlined">
                chevron_right
              </span>
            </strong>
            <input *ngIf="selectedPaymentMethod === 'balaanz'" type="text" class="form-field" placeholder="Enter Balaanz Account details">
          </li>
        </ul>
      </div> 
    </div> 
    <div class="checkout-bottom">
      <div class="checkout-btn">
        <label>Pay</label>
        <div class="checkout-btn-right"> 
          $180.00
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
      </div>
    </div> 
  </div>
</div>