<div class="checkout-screen">
  <div class="checkout-container">
    <div class="app-header">
      <div class="back-page" (click)="back()">
        <span class="material-symbols-outlined">
          arrow_back
        </span>
      </div>
      <div class="app-page-title">
        My Checkout
      </div>
    </div> 
    <div class="checkout-body"> 
      <div class="checkout-summery">
        <div class="checkout-summery-item">
          <span>Subtotal</span>
          <span>{{cartSummary.totalAmount}} frs</span>
        </div>
        <div class="checkout-summery-item">
          <span>Tax</span>
          <span>0 frs</span>
        </div>
        <div class="checkout-summery-item">
          <strong>Grand Total</strong>
          <strong>{{cartSummary.totalAmount}} frs</strong>
        </div>
      </div>
      <div class="payment-method-block">
        <h4>Payment Method</h4>
        <form [formGroup]="paymentForm">
          <ul>
            <li *ngFor="let method of paymentMethods" (click)="selectMethod(method)" [ngClass]="{'active':  method.isSelected}">
              <strong>{{method.title}}
                <span class="radio-symbol">
                  <span class="radio-symbol-inner"></span>
                </span>
              </strong>
              <input *ngIf="method.userInput && method.isSelected" type="text" class="form-field" formControlName="value" placeholder="{{method.placeholder}}">
            </li>
          </ul>
        </form>
      </div> 
    </div> 
    <div class="checkout-bottom">
      <div class="checkout-btn" [ngClass]="{'disabled': paymentForm.invalid || !cartList.length}" (click)="processPayment()">
        <label>Pay</label>
        <div class="checkout-btn-right"> 
          {{cartSummary.totalAmount}} frs
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
      </div>
    </div> 
  </div>
</div>