@import "./../../assets/style/config";


.dialog {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.retry-payment  {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 20px;
    right: 20px;
    background: $color-white;
    @include border-radius(10px);
    @include box-shadow(0 0 30px rgba(0,0,0,0.4));
    transform: translate(0%, -50%);
    z-index: 1001;
    
    h2 {
        width: 100%;
        padding: 15px 20px;
        font-size: 24px;
        color: #333333;
        font-weight: 500;
        border-bottom: 1px solid #cdcdcd;
        margin: 0px;
    }

    p {
        font-size: 16px;
        color: #333333;
        line-height: 20px;
        margin: 0px;
        width: 100%;
        padding: 15px 20px;
    }

    .dialog-action {
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
}

.dialog-overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    content: "";
    display: flex;
}


.checkout-screen {
    background-color: $color-bg-light-gray;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.checkout-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.checkout-body {
    padding: 20px 20px 70px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .checkout-summery {
        padding: 15px;
        font-size: 18px;
        // margin-bottom: 40px;
        background: $color-white;
        @include border-radius(10px);
        @include box-shadow(0 0 15px 2px rgb(125 125 125 / 20%));
        display: flex;
        flex-wrap: wrap;

        .checkout-summery-item {
            display: flex;
            margin-bottom: 20px;
            flex-direction: column;

            &.half-width {
                width: 49%;
            }

            label {
                font-size: 14px;
                font-weight: 400;
                margin: 0px;
                width: 100%;
                // text-align: center;
                padding-bottom: 5px;
                color: #666666;
            }

            & > span  {
                color: #333333;
                font-weight: 600;
            }

            h2 {
                font-size: 30px;
                font-weight: 500;
                margin: 0px;
                width: 100%;
                // text-align: center;

                span {
                    font-size: 18px;
                    font-weight: normal;
                }
            }

            &:last-child {
                margin-bottom: 0;
                // border-top: 1px dashed #cdcdcd;
                // padding-top: 15px;
            }

            &.align-center  {
                width: 100%;
                border-top: 2px dashed #cdcdcd;
                padding-top: 15px;
                
                h2 {
                    text-align: center;
                }

                label {
                    text-align: center;
                }
            }
        }
    } 
}

.checkout-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    .checkout-btn {
        background: $color-primary;
        border-radius: 5px;
        color: $color-white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        font-size: 18px;

        .checkout-btn-right {
            display: flex;
            align-items: center;
        }

        &.disabled {
            background: $color-gray;
            cursor: not-allowed;
        }
    }
}

.payment-method-block {
    display: inline-block;
    width: 100%;
    ul {
        list-style: none;
        padding: 0;

        li {
            background: $color-white;
            box-shadow: 0 0 15px 2px rgba(125, 125, 125, 0.2);
            margin-bottom: 10px;
            padding: 20px 20px;
            border-radius: 10px;
            cursor: pointer;

            .radio-symbol {
                width: 24px;
                height: 24px;
                border: 3px solid #666666;
                display: flex;
                @include border-radius(100%);
                justify-content: center;
                align-items: center;

                .radio-symbol-inner {
                    width: 10px;
                    height: 10px;
                    @include border-radius(100%);
                    background: #666666;
                    display: none;
                }
            }

            &.active {
                .radio-symbol {
                    .radio-symbol-inner  {
                        display: flex;
                    }
                }
            }

            strong {
                display: flex;
                justify-content: space-between;
                align-items: center;

                label {
                    display: flex;
                    align-items: center;

                    i {
                        padding-right: 10px;

                        img{
                            width: 25px;
                        }
                    }
                }
            }
            .form-field {
                border-radius: 0;
                margin-top: 10px;
                @include border-radius(10px);
            }
        }
    }
}


.checkout-discount {
    width: 100%;
    // border-bottom: 2px dashed #cdcdcd;
    // padding-bottom: 15px;
    
    input {
        height: 40px;
        @include border-radius(5px);
        border-width: 1px;
    }
}

.error-highlight {
    background: $color-red;
    padding: 3px 10px;
    @include border-radius(3px);
    color: $color-white;
    font-size: 14px;
    width: 100%;
    display: flex;
    margin-top: 5px;

}