.bg-light {
  --background: linear-gradient(135deg, #f6f8f9 0%, #e5ebee 100%);
}

.tables-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.table-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.table-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #cdcdcd;

  &.occupied {
    border-left: 7px solid #449d78;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
  }

  .table-image {
    width: 40%;
    height: 125px;
    object-fit: cover;
  }

  .table-info {
    // padding: 15px;
    text-align: center;
    flex-grow: 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    h3 {
      margin: 0;
      font-weight: bold;
      color: #2c3e50;
      text-align: left;
      // width: 100%;
    }

    h2 {
      font-size: 18px;
      color: #333333;
      margin: 0px;
      font-weight: 300;
    }

    .status-badge {
      display: inline-block;
      padding: 5px 10px;
      border-radius: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .badge-open {
      background-color: #2ecc71;
      color: white;
    }

    .badge-reserved {
      background-color: #e74c3c;
      color: white;
    }
  }

  // &.vip {
  //   border-top: 4px solid #f1c40f;
  // }

  // &.classic {
  //   border-top: 4px solid #3498db;
  // }

  // &.premium {
  //   border-top: 4px solid #9b59b6;
  // }
}

.table-details {
  .detail-image {
    width: 100%;
    max-height: 280px;
    object-fit: cover;
  }

  .table-details-content {
    padding: 20px;

    h2 {
      color: #2c3e50;
      margin: 0px;
    }

    .chairs-section {
      margin-top: 20px;
    }

    .chair-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }

  .disabled-button {
    --background: #b0bec5; 
    --color: white; 
  }
  
  ion-button[disabled] {
    --background: #b0bec5; 
    --color: white; 
    cursor: not-allowed; 
  }
  
}


.chair-block {
  width: 100%;
  padding: 20px;
  border: 1px solid #cdcdcd;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &.occupied {
    border-left: 7px solid #449d78;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    
  }


  h4 {
    font-size: 18px;
    color: #333333;
    margin: 0px;
    font-weight: 500;
  }

  h2 {
    font-size: 18px;
    color: #333333;
    margin: 0px;
    font-weight: 300;
  }
}