<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Select table</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-light">
  <div class="tables-container">
    <div class="table-grid">
      <div
        *ngFor="let table of tableData"
        class="table-card" [ngClass]="{'occupied': table.total > 0}"
        (click)="selectTable(table)"
      >
        <div class="table-info">
          <h3>{{ table.name }}</h3>
          <h2>{{ table.total | number }} frs</h2>
        </div>
      </div>
    </div>
  </div>

  <ion-modal
    [isOpen]="selectedTable !== null"
    (didDismiss)="closeTableDetails()"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="closeTableDetails()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Table: {{ selectedTable?.name }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content *ngIf="selectedTable">
        <div class="table-details">
          <div class="table-details-content">
            <div class="chairs-section">
              <h3>Chairs</h3>
              <div class="chair-grid">
                <div class="chair-block" [ngClass]="{'occupied': chair.total > 0}" *ngFor="let chair of selectedTable.chairs"
                  (click)="selectChairAndNavigate(chair, selectedTable)">
                  <h4>{{ chair?.name }}</h4>
                  <h2>{{ chair.total | number }} frs</h2>
                </div>
              </div>
            </div>

            <ion-button
              *ngIf="checkIfAllChairsReserved(selectedTable)"
              expand="full"
              disabled
            >
              Fully Reserved
            </ion-button>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
