<div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <div style="display: flex">
    <ion-title>Add New Product</ion-title>
    <span class="balaanz-logo">
      <img src="/assets/images/balaanz-logo.jpg" />
    </span>
    </div>
  </ion-toolbar>
</div>

<ion-content>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="ion-padding">
    <div class="image-upload-container">
      <div class="image-preview" [class.has-image]="imagePreview">
        <img [src]="imagePreview" *ngIf="imagePreview">
        <ion-icon name="image-outline" *ngIf="!imagePreview"></ion-icon>
        <input type="file" (change)="onImageSelect($event)" accept="image/*" #fileInput hidden>
        <ion-button fill="clear" expand="block" (click)="presentImageSourceActionSheet()">
          {{ imagePreview ? 'Change Image' : 'Upload Image' }}
        </ion-button>
      </div>
    </div>

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Product Name*</ion-label>
        <ion-input formControlName="name" placeholder="Enter product name"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Barcode</ion-label>
        <ion-input formControlName="barcode" placeholder="Enter barcode"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Category*</ion-label>
        <ion-select formControlName="categoryId" placeholder="Select category">
          <ion-select-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div class="submit-button">
      <ion-button expand="block" type="submit">
        Add Product
      </ion-button>
    </div>
  </form>
</ion-content>