$color-primary: #449d78;   
$color-primary-hover: #2c8f66;
$color-white: #ffffff; 
$color-dark-gray: #333333; 
$color-gray: #999999;
$color-black: #000000;
$color-green: #1faf45;
$color-red: #d12c2c;
$color-orange: #c97017;


/*==== Bg Variations =====*/
$color-bg-light-gray: #f0f0f0;

/*==== Border Variations =====*/
$color-border-gray: #cdcdcd;
$color-border-light-gray: #e0e0e0;
$color-border-dark-gray: #959595;
