<div class="receipt-screen">
  <div class="receipt-container">
    <div class="app-header">
      <div class="back-page" (click)="back()">
        <span class="material-symbols-outlined">
          arrow_back
        </span>
      </div>
      <div class="app-page-title">
        Receipt
      </div>
    </div> 
    <div class="receipt-body"> 
      
    </div> 
    <div class="receipt-bottom">
      <div class="receipt-btn">
        <label>Print Receipt</label>
        <div class="receipt-btn-right"> 
          <span class="material-symbols-outlined">
            print
          </span>
        </div>
      </div>
    </div> 
  </div>
</div>