@import "./../../assets/style/config";


.receipt-screen {
    background-color: $color-bg-light-gray;
    min-height: 100%;
}

.receipt-body {
    padding: 20px 20px 70px;
    width: 100%; 
}

.receipt-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    .receipt-btn {
        background: $color-primary;
        border-radius: 50px;
        color: $color-white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        font-size: 18px;

        .receipt-btn-right {
            display: flex;
            align-items: center;
        }

        &.disabled {
            background: $color-gray;
            cursor: not-allowed;
        }
    }
}


.receipt-page {
    width: 100%;
    display: flex;
    flex-direction: column;

    .receipt-title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin: 0px;
            padding: 0px 0 5px;
        }

        p {
            padding: 2px 0;
            margin: 0px;
        }
    }

    .receipt-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 1px dashed #000000;
        padding: 20px 0px;
        

        p {
            display: flex;
            justify-content: space-between;
            margin: 0px;
            padding: 2px 0px;
        }
    }

    .receipt-products {
        width: 100%;
        display: flex;
        padding: 20px 0px;
        flex-direction: column;
        
        ul {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0px;
            margin: 0px;
            border-bottom: 1px dashed #000000;
            padding-bottom: 20px;

            li {
                width: 100%;
                display: flex;
                padding-bottom: 10px;
                
                label {
                    width: 50%;
                }

                span {
                    width: 20%;
                    text-align: right;
                }

                b {
                    width: 30%;
                    text-align: right;
                }
                
            }
        }

        .receipt-product-summary {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 20px;

            p {
                margin: 0px;
                width: 100%;
                display: flex;
                padding: 2px 0px;

                label {
                    width: 70%;
                    text-align: right;
                }

                b {
                    width: 30%;
                    text-align: right;
                }
            }

            h4 {
                margin: 0px;
                padding: 2px 0px;
                width: 100%;
                display: flex;

                label {
                    width: 70%;
                    text-align: right;
                }
                
                b {
                    width: 30%;
                    text-align: right;
                }
            }

        }   
    }

    .receipt-footer {
        width: 100%;
        display: flex;
        justify-content: center;

        p {
            text-align: center;
        }
    }
}