<ion-content [fullscreen]="true">
  <div class="cart-screen">
    <div class="cart-container">
      <div class="app-header">
        <div class="back-page">
          <span class="material-symbols-outlined">
            arrow_back
          </span>
        </div>
        <div class="app-page-title">
          My Cart
        </div>
      </div> 
      <div class="cart-body">
        <div class="cart-product-list">
          <div class="cart-product-item">
            <div class="cart-product-img">
              <img src="assets/images/product-img-1.png" alt="">
            </div>
            <div class="cart-product-content">
              <h6>Grocery Product 1</h6>
              <div class="price">
                <strong>20</strong>frs
              </div>
            </div>
            <div class="cart-product-right">
              <div class="cart-product-minus">
                <span class="material-symbols-outlined">
                  remove
                </span>
              </div>
              <div class="cart-product-qty">
                1
              </div>
              <div class="cart-product-plus">
                <span class="material-symbols-outlined">
                  add
                </span>
              </div>
            </div>
          </div>
          <div class="cart-product-item">
            <div class="cart-product-img">
              <img src="assets/images/product-img-1.png" alt="">
            </div>
            <div class="cart-product-content">
              <h6>Grocery Product 1</h6>
              <div class="price">
                <strong>20</strong>frs
              </div>
            </div>
            <div class="cart-product-right">
              <div class="cart-product-minus">
                <span class="material-symbols-outlined">
                  remove
                </span>
              </div>
              <div class="cart-product-qty">
                1
              </div>
              <div class="cart-product-plus">
                <span class="material-symbols-outlined">
                  add
                </span>
              </div>
            </div>
          </div>
          <div class="cart-product-item">
            <div class="cart-product-img">
              <img src="assets/images/product-img-1.png" alt="">
            </div>
            <div class="cart-product-content">
              <h6>Grocery Product 1</h6>
              <div class="price">
                <strong>20</strong>frs
              </div>
            </div>
            <div class="cart-product-right">
              <div class="cart-product-minus">
                <span class="material-symbols-outlined">
                  remove
                </span>
              </div>
              <div class="cart-product-qty">
                1
              </div>
              <div class="cart-product-plus">
                <span class="material-symbols-outlined">
                  add
                </span>
              </div>
            </div>
          </div>
          <div class="cart-product-item">
            <div class="cart-product-img">
              <img src="assets/images/product-img-1.png" alt="">
            </div>
            <div class="cart-product-content">
              <h6>Grocery Product 1</h6>
              <div class="price">
                <strong>20</strong>frs
              </div>
            </div>
            <div class="cart-product-right">
              <div class="cart-product-minus">
                <span class="material-symbols-outlined">
                  remove
                </span>
              </div>
              <div class="cart-product-qty">
                1
              </div>
              <div class="cart-product-plus">
                <span class="material-symbols-outlined">
                  add
                </span>
              </div>
            </div>
          </div>
          <div class="cart-product-item">
            <div class="cart-product-img">
              <img src="assets/images/product-img-1.png" alt="">
            </div>
            <div class="cart-product-content">
              <h6>Grocery Product 1</h6>
              <div class="price">
                <strong>20</strong>frs
              </div>
            </div>
            <div class="cart-product-right">
              <div class="cart-product-minus">
                <span class="material-symbols-outlined">
                  remove
                </span>
              </div>
              <div class="cart-product-qty">
                1
              </div>
              <div class="cart-product-plus">
                <span class="material-symbols-outlined">
                  add
                </span>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <div class="cart-checkout">
        <div class="cart-checkout-btn">
          <label>Checkout</label>
          <div class="cart-checkout-btn-right">
            <div class="cart-product-total-count">
              5 Items
            </div>
            <div class="cart-product-total-price">
              <strong>2,000</strong>
              frs  
            </div>
            <span class="material-symbols-outlined">
              chevron_right
            </span>
          </div>
        </div>
      </div> 
    </div>
  </div>
</ion-content>
