// Search input with icons
.search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input-wrapper .form-field {
    padding-left: 36px;
    padding-right: 36px;
    width: 100%;
    box-sizing: border-box;
}

.search-input-wrapper .seach-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
    z-index: 2;
}

.search-input-wrapper .clear-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
    z-index: 2;
}
@import "./../../assets/style/config";

.no-item {
    width: 100%;
    border: 1px solid $color-primary;
    padding: 20px;
    @include border-radius(10px);
    display: flex;
    justify-content: center;
    background: $color-white;
    color: $color-primary;
}

.products-screen {
    height: 100%;
    display: flex;
    flex-direction: column; 
    .products-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        overflow: auto;
        padding-bottom: 80px;

        .product-header-container {
            background-color:$color-bg-light-gray;
            padding:20px;
            width: 100%;
            box-shadow: 0 0 20px rgba($color-black, 0.2);
            border-bottom: 1px solid $color-border-gray;
            position: sticky;
            top: 0;
            z-index: 99;
        }
        .category-title {
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            color: $color-black;
            font-size: 14px;
            align-items: center;

            h2 {
                font-size: 18px;
                margin: 0;
            }
        }
    }
}

.products-list-container {
    padding:20px;
    width: 100%;
    @media screen and (max-width:400px) {
        padding: 10px;
    }
    .products-list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:10px;

        @media screen and (max-width:400px) {
            grid-template-columns: repeat(2,1fr);
            gap: 5px;
        }
        .products-item {
            border: 2px solid rgb(97 97 97 / 90%);
            border-radius: 4px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            position: relative; 
            overflow: hidden;

            .product-image {
                flex-grow: 3;
                display: flex;
                margin-bottom: 10px;

                .product-img {
                    height: 110px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // border: 1px solid #cdcdcd;
                    padding: 5px;
                    @include box-shadow(0 0 5px rgba(0,0,0,0.2));
    
                    img {
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }
                    
                }
            }

            .product-content  {
                width: 100%;
                display: flex;
                flex-direction: column;
                .product-content-bottom {
                    display: flex;
                    justify-content: space-between; 
                    align-items: center;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    background: rgba(0,0,0,0.7);
                    left: 0;
                    color: #fff;
                    padding: 3px 6px; 
                    .product-qty {
                        font-size: 14px;
                    }
                }
            }

            h4 {
                margin: 0 0 0px;
                font-size: 14px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .price {
                font-size: 14px;

                strong {
                    font-weight: 500;
                    font-size: 18px;
                    padding-right: 5px;
                }
            }
        }
    }
}

.app-navigation {
    position: fixed;
    width: 100%;
    padding: 15px 20px 15px;
    background-color: $color-white;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $color-border-gray;
    box-shadow: 0 0 20px rgba($color-black, 0.2);

    .app-nav-bar {
        cursor: pointer;
    }

    .app-nav-cart {
        width: 60px;
        border-radius: 4px;
        height: 50px;
        background-color: $color-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
        position: relative;
        cursor: pointer;

        span {
            font-size: 28px;
        }

        .app-nav-cart-count {
            width: 30px;
            height: 25px;
            background-color: $color-dark-gray;
            border-radius: 4px;
            text-align: center;
            color: $color-white;
            line-height: 26px;
            position: absolute;
            right: -15px;
            top: -10px;
        }
    }
    .app-nav-user {
        display: flex;
        cursor: pointer;

        img {
            border: 1px solid $color-border-dark-gray;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            object-fit: cover;
        }
    }
}



.nav-title {
    position: sticky;
    top: 0;
    background-color: #fff; 
    padding: 10px;
    z-index: 1; 
}

.category-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 80vh; 
    overflow-y: auto;
    padding-right: 10px; 
    margin-bottom: 10px;
}

.category-list li {
    padding: 10px;
    cursor: pointer;
}

.category-list li.active {
    background-color: #f0f0f0; 
}

.nav-bottom {
    position: sticky;
    bottom: 0;
    background-color: #fff; 
    padding: 10px;
    width: 100%;
}
